@model IEnumerable<ABMODELE.Models.Producto>

@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>

@if (User.IsInRole("cocinero") || User.IsInRole("administrador"))
{
    <p>
        @Html.ActionLink("Create New", "Create");
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoProducto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConJuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiempoPreparacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destacado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoProducto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConJuna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiempoPreparacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destacado)
        </td>

        @if (User.IsInRole("cocinero") || User.IsInRole("administrador"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductoId })
            </td>
        }

        <td>

            @Html.ActionLink("Details", "Details", new { id = item.ProductoId }) 

        </td>
    </tr>
    }

</table>
