@model ABMODELE.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConJuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConJuna)
        </dd>

        @if (User.IsInRole("administrador"))
        {

            <dt>
                @Html.DisplayNameFor(model => model.Destacado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Destacado)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.TiempoPreparacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiempoPreparacion)
        </dd>

        <dt>
            <input type="number" name="cantidad" id="cantidad" value="1" />
        </dt>
        <dd>
            <a href="#" onclick="agregarAlCarrito(@Model.ProductoId)">Agregar al Carro</a>
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index")
</p>


<script>
    function agregarAlCarrito(idProducto) {
        alert(document.getElementById("cantidad").value);
        $.ajax({
            type: "POST",
            url: "/Carrito/AgregarProducto",
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                'idProducto': idProducto,
                'cantidad': document.getElementById("cantidad").value
            },
            success: function (response) {
                if (response.success)
                    alert("Producto Agregado");
                else
                    alert("Error: " + response.responseText);
            },
            error: function (response) {
                alert("Errrorrrr: " + response.responseText);
            }

        });
    }
</script>
