@model ABMODELE.Models.ProductoToIngrediente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductoToIngrediente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IngredienteModel.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredienteModel.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductoModel.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductoModel.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadProducto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
