@model IEnumerable<ABMODELE.Models.ProductoToIngrediente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IngredienteModel.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductoModel.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadProducto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IngredienteModel.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductoModel.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadProducto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
