@{ 
    var link = "Ordens/PagarCarro/";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @Html.ActionLink("CafetApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                    <!--
                         poniendo "shopping-cart en vez de Home, me tira un carrito."
                        <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                     -->

                    <li>@Html.ActionLink("Quienes somos", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>

                </ul>
                <!-- Esta es la barrita de busqueda, falta ponerla en el medio -->
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar producto">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <!-- Estos son los "iconos" predeterminados, en este caso es la lupita para buscar -->
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.Partial("_LoginPartial")</li>
                    <li><a href="/Ordens/PagarCarro"><span class="glyphicon glyphicon-shopping-cart"></span></a></li></li>

                </ul>
            </div>
        </div>

    </nav>

    <!-- esta parte no sé para que es, pero si lo borro, explota!! -->
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>


    <div class="well navbar-bottom" style="background-color:#222222;color:wheat">

        <div class="col-lg-4" style="margin-left:20px">

            <h3><span class="glyphicon glyphicon-map-marker"></span> Donde estamos</h3>
            <ul class="list-group list-unstyled">

                <li>Edificio Isabel Brown Caces</li>
                <li>Av. Brasil 2241, Valparaiso</li>
            </ul>
        </div>



        <div style="clear:both"></div>


    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)


</body>
</html>
