@model ABMODELE.Models.OrdenModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrdenModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaOrden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaOrden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pagado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetodoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetodoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListoEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListoEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entregado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entregado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NumOrden }) |
    @Html.ActionLink("Back to List", "Index")
</p>
